/*
@media all and (max-width: 992px) { jak dodaje coś to 'and' i to co chce
        width: 49%;
    }
}

@media all and (max-width: 768px) {
   
        figure {
        width: 100%;
    }
}
*/

@media all and (max-width: 768px) {
    .herreria-outer {
        width: 95%;
    }
    .nav-link {
    padding: 5px;
}
    .dot {
        line-height: 34px;
        color: burlywood;
    }
    #opinie {
        padding-bottom: 200px;
    }
}