body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

h1,
h2,
h3 {
    font-weight: 800;
}

.navbar-background {
    background-color: #fff;
}

.herreria-outer {
    border: 4px solid burlywood;
    width: 70%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
}

.herreria-inner {
    border: 2px solid burlywood;
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: flex-end;
    background-color: #fff;
    justify-content: center;
}

.navbar-center-text {
    display: flex;
    justify-content: center;
    line-height: 60px;
}

.herreria-logo {
    background-image: url(details/logo-male-biale-tlo.png);
    height: 80px;
    width: 180px;
    position: absolute;
    left: 50%;
    margin-left: -90px;
    background-position: center;
    background-size: 240px;
    background-repeat: no-repeat;
    top: 0;
}

.navbar-main-items {
    display: inline-flex;
    list-style: none;
    text-align: center;
    padding: 0px;
}

.dot {
    line-height: 44px;
    color: burlywood;
}

.nav-link {
    padding: 10px;
    color: burlywood;
    transition: all 0.4s;
}

.nav-link:hover {
    color: #000;
}

h1 {
    text-transform: uppercase;
    color: #000;
    font-size: 40px;
}

h2 {
    text-transform: uppercase;
    color: burlywood;
    font-size: 30px;
}

#o-nas {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.about-company {
    padding-top: 60px;
    width: 70%;
}

#o-nas p {
    margin: 0;
}

#nasze-uslugi {
    background-image: url(details/tlo-us.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 20px;
}

#nasze-uslugi h1 {
    text-align: center;
    flex-basis: 100%;
    font-weight: 900;
    margin: 20px 0;
}

#o-nas h1,
#o-nas h2 {
    text-align: left;
}

.decsription {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 30px 0;
}

.description-text {
    padding-left: 20px;
}

.description-text p {
    font-size: 15px;
}

.picture img {
    max-width: 110px;
    flex-shrink: 1;
}

h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.line {
    border-bottom: 3px solid burlywood;
    height: 2px;
    width: 200px;
    align-self: center;
}

#nasz-personel {
    background-color: #fff;
    padding-top: 60px;
}

#nasz-personel h1,
h2 {
    text-align: right;
}

.staff {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.staff-photo img {
    width: 200px;
}

.description-staff-text p {
    text-align: center;
}

#opinie {
    background-color: #f6f6f6f6;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

#opinie h1 {
    text-align: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews p {
    max-width: 70%;
}

.customer img {
    width: 150px;
}

#opinie p {
    border-bottom: 1px solid burlywood;
    border-top: 1px solid burlywood;
    text-align: center;
    padding: 20px 0;
}

figcaption {
    padding: 20px;
}

.stars img {
    max-width: 200px;
}

#kontakt {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    margin-top: 60px;
}

.contact input,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid burlywood;

}

.contact input::placeholder,
textarea::placeholder {
    color: burlywood;

}

.contact input:focus,
textarea:focus {
    outline: 0;
}

.contact textarea {
    height: 100%;
}

.button-send {
    background-color: burlywood;
    color: #fff;
    padding: 5px 20px;
    border-style: none;
    margin-top: 20px;
    transition: all 0.4s;
    cursor: pointer;
}

.button-send:hover {
    background-color: #f6f6f6f6;
    color: burlywood;
}

#kontakt h1 {
    text-align: center;
}

.slide-height {
    height: 360px;
}

.map {
    display: flex;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    color: #fff;
    background-color: burlywood;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
    transition: all 0.2s;
    margin: 10px;
}

.social-media a i {
    line-height: 40px;
}

.social-media a:hover {
    background: #f6f6f6f6;
    color: burlywood;
}

footer {
    background-color: #f6f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
    padding: 10px 0;
}

footer p {
    margin: 0;
}
